body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 85%;
    margin: 0 auto;
    background-color: honeydew;
    padding: 5px;
}

header {
    text-align: center;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
nav{
    border-bottom: 1px solid black;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

nav ul li a {
    color: purple;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: blueviolet;
}

nav ul li a:active {
    box-shadow: 2px 2px 5px pink;
}

h1 {
    font-size: 28px;
    font-family: cursive;
}

section {
    padding: 16px 0;
    text-align: center;
}

#about p {
    font-size: 18px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.gallery-container img {
    height: 300px;
    object-fit: cover;
}

#top-streaming-songs ol {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

footer {
    text-align: center;
}